<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.luv2code.servletdemo.StudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>com.luv2code.servletdemo.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmailServlet</servlet-name>
        <servlet-class>controller.CheckEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChekoutServlet</servlet-name>
        <servlet-class>controller.ChekoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartSertvletDetail</servlet-name>
        <servlet-class>controller.CartSertvletDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>controller.SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Thongke</servlet-name>
        <servlet-class>controller.Thongke</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmailServlet</servlet-name>
        <url-pattern>/CheckEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChekoutServlet</servlet-name>
        <url-pattern>/ChekoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartSertvletDetail</servlet-name>
        <url-pattern>/CartSertvletDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Thongke</servlet-name>
        <url-pattern>/Thongke</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
